/* AuthStyle.css */
.auth-header-image {
    width: 150px;
    height: auto;
  }
  
  .auth-signin-header {
    font-size: 1.5rem;
    color: #333;
  }
  
  .auth-signin-footer-button, .auth-signup-footer-button {
    color: #007bff;
  }
  
  .auth-signup-header {
    font-size: 1.5rem;
    color: #333;
  }
  
  .auth-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  